*
!/.github/
!/.github/**
!/.config/
!/.config/zsh/
!/.config/zsh/**
.config/zsh/.zcompdump*
!/.config/vim/
!/.config/vim/**
!/.config/dotfiles/
!/.config/dotfiles/**
!/.gitignore
!/.install
!/README.md
!/.zshenv