*
!/.github/
!/.github/**
!/.config/
!/.config/zsh/
!/.config/zsh/**
.config/zsh/.zcompdump*
.config/zsh/.zshrc.local
!/.config/vim/
!/.config/vim/**
.config/vim/vimrc.local
!/.config/dotfiles/
!/.config/dotfiles/**
!/.config/nvim/
!/.config/nvim/**
.config/nvim/lua/work
.config/nvim/README.local.md
!/.gitignore
!/.install
!/README.md
!/.zshenv
